{% extends 'base.html'%}

{%block body%}
<script>


    function test(btn) {
        var info = btn.parentNode.parentNode.parentNode.getElementsByTagName('td');//[0].textContent;

        for (var i = 0; i < 7; i++) {
            document.getElementsByName('col' + (i + 1))[0].value = info[i].textContent;

        }
        document.getElementsByName('col1')[0].disabled = true;
    }


    function del(btn) {


        var r = confirm("确认删除？");
        if (r == false) {
            return;
        }
        else {
            var info = btn.parentNode.parentNode.parentNode.getElementsByTagName('td')[0].textContent;

            //返回的数据放在data中，返回状态放在status
            $.post("/delete", {message: info}, function (data, status) {
                if (status == "success") {
                    $("#result").html(data);
                }
                else {
                    alert("Ajax 失败");
                }
            });
            location.reload(true);

        }
    }


</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#page">Link2</a></li>

            </ul>

        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>What...?</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p></div>-->
    </div>
</div>

<div class="form-inline">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalAdd"
            onclick="document.getElementsByName('col1')[0].disabled=false;">添加
    </button>
    <button class="btn btn-primary pull-right">搜 索</button>

    <input type="text" class="form-control pull-right" placeholder="关键字"/>
</div>

<div class="table-responsive">
    <table class="table">

        <thead>
        <tr>
            <th>列1</th>
            <th>列2</th>
            <th>列3</th>
            <th>列4</th>
            <th>列5</th>
            <th>列6</th>
            <th>列7</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in item%}
        <tr>
            {% for j in i%}
            <td>{{j}}</td>

            {%end%}
            <td>

                <div class="btn-group btn-group-xs">

                    <button type="button" class="btn btn-default" id="update" data-toggle="modal"
                            data-target="#myModalAdd" onclick="test(this)">修改
                    </button>
                    <button type="button" class="btn btn-default" onclick="del(this)">删除</button>
                </div>
            </td>
        </tr>
        {%end%}
        </tbody>


    </table>
</div>


<!-- 模态框（Modal）2 -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加信息
                </h4>
            </div>
            <div class="modal-body">


                <form id="myaddform" method="post" action="/create">
                    <div class="form-inline">
                        列1&nbsp;<input type="text" class="form-control" name="col1"/>
                        列2&nbsp;<input type="text" class="form-control" name="col2"/>
                    </div>
                    <br>
                    <div class="form-inline">
                        列3&nbsp;<input type="text" class="form-control" name="col3"/>
                        列4&nbsp;<input type="text" class="form-control" name="col4"/>
                    </div>
                    <br>
                    <div class="form-inline">
                        列5&nbsp;<input type="text" class="form-control" name="col5"/>
                        列6&nbsp;<input type="text" class="form-control" name="col6"/>
                    </div>
                    <br>
                    <div class="form-inline">
                        列7&nbsp;<input type="text" class="form-control" name="col7"/>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交更改
                        </button>
                    </div>
                </form>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->


    {%end%}
