<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/element-ui"></script>
    <script src="https://unpkg.com/el-search-table-pagination"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.5/lodash.core.min.js"></script>
</head>

<body>


<div id="app"></div>
</body>


<script>

    var res;
Vue.http.get('http://127.0.0.1:8888/list/', ).then((response) =>{res=response.json()})
    new Vue({

            el: '#app',
            data: {
                formData: {
                    name: ''
                },
                columns: [
                    {prop: 'name', label: 'Name', width: 140},
                    {prop: 'mobile', label: 'Mobile', minWidth: 180},
                    {
                        prop: 'sex', label: 'Sex', width: 100,
                        render: row => {
                            const {sex} = row
                            return sex === 0 ? 'Male' : sex === 1 ? 'Female' : 'Unknow'
                        }
                    }
                ],

                tableData: []
                // tableData: [
                //     {"name": 'Sam2', "mobile": '15299xxxx', "sex": 0},
                //     {"name": 'Jean', "mobile": '13452xxxx', "sex": 1},
                //     {"name": 'Tony', "mobile": '187233xxxx', "sex": 0},
                //     {"name": 'Tony2', "mobile": '187233xxxx', "sex": 0},
                //     {"name": 'Tony', "mobile": '187233xxxx', "sex": 0}
                // ]
            },
            template: `
    <el-search-table-pagination
      type="local"

      :data="tableData"
      :page-sizes="[2, 10]"
      :columns="columns"

      >
      <el-form :inline="true" :model="formData"
        slot="form" slot-scope="scope"
        ref="form-ref"
        @submit.native.prevent="scope.search(formData)">
        <el-form-item label="Name" prop="name">
          <el-input v-model="formData.name" @change="scope.search(formData)"></el-input>
        </el-form-item>
      </el-form>
    </el-search-table-pagination>
  `
        }
    );


</script>

</html>