<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.2.2/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-header style="text-align: left; font-size: 12px">
                <span style="font-size: 20px;color: #409eff">Cisco</span>
            </el-header>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-menu>

                    <a href="/" style="text-decoration: none">
                        <el-menu-item index="1-1"><i class="el-icon-info"></i> 选项1</el-menu-item>
                    </a>
                    <a href="#" style="text-decoration: none">
                        <el-menu-item index="1-1"><i class="el-icon-news"></i> 选项2</el-menu-item>
                    </a>

                </el-menu>
            </el-aside>


            <el-main>

                <el-dialog title="数据库信息" :visible.sync="dialogAddDB">

                    <div v-for="(item,index) in dataModel">

                        {{db_columns[index].label}}

                        <el-input style="margin-bottom: 0.2em" v-model="dataModel[index].value1"></el-input>
                    </div>


                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogAddDB = false">取 消</el-button>
                        <el-button type="primary" @click="addDbAction">确 定</el-button>
                    </div>
                </el-dialog>

                <el-dialog title="增加表信息" :visible.sync="dialogAddTable">
                    <div style="display:inline-block;margin-bottom: 0.2em">
                        表名
                        <el-input v-model="input"></el-input>
                    </div>

                    <div style="display:inline-block;margin-bottom: 0.2em">
                        注释
                        <el-input v-model="input"></el-input>
                    </div>

                    <br>
                    <el-row class="demo-autocomplete">

                        <el-col :span="7">
                            <div style="display:inline-block;margin-bottom: 0.2em">
                                <div class="sub-title">列名称</div>
                                <el-input v-model="input"></el-input>
                            </div>
                        </el-col>

                        <el-col :span="7">
                            <div class="sub-title">数据类型</div>
                            <el-autocomplete
                                    class="inline-input"
                                    v-model="selectDataType"
                                    :fetch-suggestions="querySearch"
                                    placeholder="请输入内容"
                                    :trigger-on-focus="false"

                            ></el-autocomplete>
                        </el-col>

                        <el-col :span="7">
                            <div style="display:inline-block;margin-bottom: 0.2em">
                                <div class="sub-title">默认</div>
                                <el-input v-model="input"></el-input>
                            </div>
                        </el-col>

                        <el-col :span="1">
                            <div style="display:inline-block;margin-bottom: 0.2em">
                                <div class="sub-title">&nbsp;</div>
                                <el-button type="primary" plain style="display: inline" icon="el-icon-plus"
                                           @click="addColumnAction"></el-button>
                            </div>
                        </el-col>

                    </el-row>


                    <el-checkbox-group v-model="checkList">
                        <el-checkbox label="非空"></el-checkbox>
                        <el-checkbox label="自增"></el-checkbox>
                        <el-checkbox label="唯一"></el-checkbox>
                        <el-checkbox label="主键"></el-checkbox>
                    </el-checkbox-group>
                    SQL语句
                    <el-input
                            type="textarea"
                            :rows="5"
                            placeholder="CREATE TABLE ... "
                            v-model="sqlScript">
                    </el-input>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogAddTable = false">取 消</el-button>
                        <el-button type="primary" @click="addTableAction">确 定</el-button>
                    </div>
                </el-dialog>


                <div style="display: inline-block;margin-bottom:0.2em">
                    <el-button type="primary" size="medium" icon="el-icon-plus" @click="showDbDialog()">增加
                    </el-button>
                </div>


                <template>
                    <el-tabs @tab-click="handleClick" v-model="activeName">
                        <el-tab-pane v-for="{prop, label} in tabs" :label="label" :name="prop" :key="prop">

                            <template>


                                <el-table :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)" border>


                                    <el-table-column type="expand">

                                        <!--这里是展开的内容-->
                                        <template slot-scope="props">
                                            <!--搜索框-->
                                            <el-button size="small"
                                                       type="primary" plain icon="el-icon-plus"
                                                       @click="handleAdd">
                                                创建
                                            </el-button>
                                            <div style="float: right; display: inline-block;margin-bottom:0.2em">
                                                <div class="el-input el-input--medium el-input--prefix">
                                                    <el-input @input="search" v-model="searchQuery" placeholder="请输入内容"
                                                              prefix-icon="el-icon-search">
                                                    </el-input>
                                                    <span class="el-input__prefix"><i
                                                            class="el-input__icon el-icon-search"></i></span>
                                                </div>
                                            </div>

                                            <el-table :data="props.row.tables">
                                                <el-table-column v-for="{prop, label} in tb_columns" :key="prop"
                                                                 :prop="prop"
                                                                 :label="label"></el-table-column>


                                                <el-table-column label="操作">

                                                    <template slot-scope="scope">

                                                        <el-button
                                                                size="mini" icon="el-icon-edit"
                                                                @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                                size="mini" icon="el-icon-delete"
                                                                type="danger"
                                                                @click="handleDelete(scope.$index, scope.row)">
                                                        </el-button>
                                                    </template>
                                                </el-table-column>
                                            </el-table>


                                        </template>
                                    </el-table-column>


                                    <!--数据库信息-->
                                    <el-table-column v-for="{prop, label} in db_columns" :key="prop" :prop="prop"
                                                     :label="label"></el-table-column>


                                </el-table>

                                <div class="block">
                                    <el-pagination @size-change="handleSizeChange"
                                                   @current-change="handleCurrentChange"
                                                   :current-page="currentPage"
                                                   :page-sizes="[5, 10, 50, 100]"
                                                   :page-size="pagesize"
                                                   layout="total, sizes, prev, pager, next, jumper"
                                                   :total="tableData.length"
                                                   align="right">
                                    </el-pagination>
                                </div>
                            </template>


                        </el-tab-pane>
                    </el-tabs>
                </template>


            </el-main>
        </el-container>
    </el-container>

</div>
</body>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            tabs: [],
            db_columns: [],
            tb_columns: [],
            searchQuery: '',
            tableData: [],
            activeName: '',
            currentPage: 1,
            pagesize: 5,
            dialogAddDB: false,
            dialogAddTable: false,
            selectDataType: '',
            formLabelWidth: '120px',
            dataType: [],
            input: '',
            sqlScript: '',
            checkList: [],
            apiData: [],
            dataModel: []

        },

        methods: {
            handleClick(tab, event) {
                for (var i = 0; i < app.tabs.length; i++) {
                    if (tab.name === app.tabs[i].prop) {
                        app.db_columns = app.apiData[i].db_columns;
                        app.tb_columns = app.apiData[i].tb_columns;
                        app.tableData = app.apiData[i].databases;
                        break;
                    }
                }

                app.dataModel = [];
                for (var i = 0; i < app.db_columns.length; i++) {
                    app.dataModel.push({value1: '', value2: app.db_columns[i].prop});
                }

            },
            handleSizeChange: function (size) {
                this.pagesize = size;
            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
            },

            showDbDialog() {
                //alert('添加');
                this.dialogAddDB = true;
                this.input_db = '';
                this.input_ip = '';
                this.input_port = '';
                this.input_username = '';
                this.input_password = ''
            },

            handleAdd(index, row) {
                console.log(index, row);
                this.dialogAddTable = true;
            },
            handleEdit(index, row) {
                console.log(index, row);
                this.dialogAddDB = true;
                this.input_db = row.dbname;
                this.input_ip = row.ip;
                this.input_port = row.port;
                this.input_username = row.username;
                this.input_password = row.password

            },
            handleDelete(index, row) {

                this.$confirm('此操作将删除' + row.table_name + ', 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },


            search(kw) {
                column = ['devicename',
                    'area',
                    'ip',
                    'bootflash',
                    'hardware',
                    'platform',
                    'version',
                ];

                if (kw) {
                    kw = kw.replace(/\s+/g, ' ');
                    filters = [];
                    final = [];
                    test = backup;
                    if (kw.trim().length !== 0)
                        filters = kw.trim().split(" ");

                    test.forEach(function (key_val) {
                        // key_val是一整个
                        total = filters.length;
                        count = 0;
                        filters.forEach(function (keywords) {

                            // D1 F2
                            for (var i = 0; i < column.length; i++) {
                                //column.forEach(function (key) {
                                if (key_val[column[i]].toString().indexOf(keywords) !== -1) {
                                    count += 1;
                                    break;
                                }
                            }
                            if (count >= total)
                                final.push(key_val)


                        })
                    });


                }
                else {
                    final = backup;
                }

                this.tableData = final;
            },

            addDbAction() {
                dbRequest = {};
                for (var i = 0; i < this.dataModel.length; i++)
                    dbRequest[this.dataModel[i].value2] = this.dataModel[i].value1

                msg = this.$message;
                axios.post('/database/add/', dbRequest)
                    .then(function (response) {
                        msg.success('添加成功');
                    })
                    .catch(function (error) {
                        if (error.toString().indexOf('400') !== -1)
                            msg.error('输入的参数不正确，连接服务器失败');
                        else
                            msg.error('服务器挂啦w(ﾟДﾟ)w');

                    });

            },
            addTableAction() {
                this.$message.success('增加表');
            },
            addColumnAction() {
                this.sqlScript = '啊哈哈哈哈' + this.checkList
            },
            //联想自动补全数据类型
            querySearch(queryString, cb) {
                var dataType = this.dataType;
                var results = queryString ? dataType.filter(this.createFilter(queryString)) : dataType;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return (dataType) => {
                    return (dataType.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            }

        },

        mounted() {
            this.dataType = [
                {"value": "INT"},
                {"value": "VARCHAR()"},
                {"value": "TEXT"},
                {"value": "DATE"},
                {"value": "TINYINT"},
                {"value": "FLOAT"},
                {"value": "DOUBLE"},
                {"value": "DATETIME"},
                {"value": "TIMESTAMP"},
                {"value": "BOOLEAN"},
                {"value": "CHAR"},
                {"value": "BLOB"},
                {"value": "REAL"},
            ];

        }
    });


    axios.get('http://127.0.0.1:8888/list/').then(function (res) {
        app.apiData = res.data;
        temp = [];
        app.apiData.forEach(function (d) {
            temp.push({
                "prop": d.prop,
                "label": d.label
            });
        });

        app.tabs = temp;
        app.activeName = app.apiData[0].prop;
        app.db_columns = app.apiData[0].db_columns;
        app.tb_columns = app.apiData[0].tb_columns;
        app.tableData = app.apiData[0].databases;

        for (var i = 0; i < app.db_columns.length; i++) {
            app.dataModel.push({value1: '', value2: app.db_columns[i].prop});
        }

    });

</script>
</html>